* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.nav1 {
  background-color: rgb(10, 10, 35);
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  padding: 20px 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav1 .contact {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.nav1 .contact div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav1 .social {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.nav1 p {
  color: white;
}

.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav2 .img {
  margin: 0;
}

i.menu-icon {
  display: none;
}

.items .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.menu-item {
  padding: 30px 0;
}

.menu-item a {
  color: rgb(46, 46, 105);
  font-size: 20px;
  text-decoration: none;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.social .fa1,
.social .fa2 {
  position: relative;
}

.social .fa1:after {
  content: "7";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(198, 195, 195);
  top: -15px;
  left: 5px;
}

.social .fa2:after {
  content: "+99";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(198, 195, 195);
  top: -15px;
  left: 3px;
}

.hero {
  background-color: rgb(204 210 231 / 46%);
  min-height: max-content;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.part1 {
  margin: 0 auto;
  padding: 50px 0;
}

.part1 h2 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 27px;
  font-weight: 100;
}

.part1 p {
  max-width: 60ch;
  text-align: center;
  margin: auto;
}

.icon {
  position: absolute;
  right: 45%;
  transform: translate(-50%, -50%);
  bottom: -45px;
}

.zay {
  bottom: 230px;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  width: 250px;
  position: relative;
  box-shadow: 1px 6px 12px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  left: 40%;
}

.zay::before {
  content: "";
  width: 0;
  height: 0;
  background-color: transparent;
  position: absolute;
  left: 105px;
  bottom: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.zay::after {
  content: "×";
  position: absolute;
  background-color: transparent;
  width: 30px;
  height: 30px;
  top: 3px;
  right: -10px;
  color: rgb(189, 185, 185);
}

.part2 {
  height: 250px;
}

.form {
  width: 100%;
}

.father {
  width: 70%;
  margin: 100px auto;
  font-size: 18px;
}

.father div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-bottom: 10px;
}

.father .name-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.name,
.mail {
  width: 50%;
}

input,
textarea {
  border: 1px solid #aaa;
}

label {
  color: #aaa;
}

.name input,
.mail input,
.sub input,
.father textarea {
  padding: 10px;
}

button {
  background-color: rgb(97, 154, 97);
  padding: 15px;
  width: max-content;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  border: none;
  margin-left: 840px;
}

.footer {
  background-color: rgb(10, 10, 35);
  height: max-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.foot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  height: max-content;
  margin: 0 auto;
}

.shop,
.product,
.info {
  width: 300px;
}

.shop ul {
  list-style: none;
  padding-top: 30px;
}

.shop ul li {
  padding-bottom: 5px;
}

.shop h2 {
  color: rgb(28 139 28);
  padding: 20px 0 40px 0;
  border-bottom: 1px solid rgb(87, 87, 87);
}

.product ul {
  list-style: none;
  padding-top: 30px;
}

.product ul li {
  padding-bottom: 20px;
}

.product h2 {
  color: white;
  padding: 20px 0 40px 0;
  border-bottom: 1px solid rgb(87, 87, 87);
  font-weight: 100;
}

.info ul {
  list-style: none;
  padding-top: 30px;
}

.info ul li {
  padding-bottom: 20px;
}

.info h2 {
  color: white;
  padding: 20px 0 40px 0;
  border-bottom: 1px solid rgb(87, 87, 87);
  font-weight: 100;
}

.shop ul li {
  color: white;
  margin-bottom: 10px;
}

.product ul li a {
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}

.info ul li a {
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}

.foot2 {
  width: 90%;
  height: max-content;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  border-top: 1px solid rgb(87, 87, 87);
}

.social2 {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email {
  color: white;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 5px;
  width: 30%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email .ema {
  padding: 18px 0 18px 10px;
}

.email .subs {
  background-color: rgb(84, 152, 84);
  padding: 10px;
  font-size: 20px;
}

.copyright {
  padding: 30px 0;
  background-color: rgb(54, 54, 54);
  color: rgb(160, 158, 158);
  font-size: 20px;
}

.copyright a {
  color: rgb(160, 158, 158);
}

@media (max-width: 650px) {
  .nav1,
  .items,
  .social {
    display: none;
  }

  i.menu-icon {
    display: inline-flex;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .email {
    width: 45%;
  }

  .social2 {
    width: 25%;
  }
}

@media (min-width: 200px) and (max-width: 576px) {
  .nav1 {
    padding: 20px 30px;
    justify-content: center;
  }

  .nav2 {
    padding: 10px 40px;
  }

  .nav2 .menu-item {
    padding: 10px 0 20px 0;
  }

  .father .name-email {
    flex-direction: column;
    gap: 10px;
  }

  .name,
  .mail {
    width: 100%;
  }

  .copyright {
    padding: 30px 0;
  }

  .social2 {
    width: 75%;
    margin-bottom: 20px;
  }

  .email {
    width: 100%;
  }
}
